{lib_dirs, ["deps"]}.

{erl_opts, [
  debug_info,
  warn_format,
  warn_export_vars,
  warn_obsolete_guard,
  warn_bif_clash,

  %% OTP version specific defines
  {platform_define, "^(19|2)", rand_only}
]}.

{deps, [
]}.

{cover_enabled, true}.

{xref_checks, [
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
]}.
